---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Code Out Studio</title>
	</head>
	<body class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-violet-900 via-slate-900 to-slate-950">
		<header>
			<nav class="">
				<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
				  <a href="./" class="flex items-center space-x-3 rtl:space-x-reverse">
					  <span class="self-center text-2xl font-semibold whitespace-nowrap bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">Code Out Studio</span>
				  </a>
				  <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
					  <span class="sr-only">Open main menu</span>
					  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
						  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
					  </svg>
				  </button>
				  <div class="hidden w-full md:block md:w-auto" id="navbar-default">
					<ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 text-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
					  <li>
						<a href="#" class="block py-2 px-3 rounded" aria-current="page">Home</a>
					  </li>
					  <li>
						<a href="/apps" class="block py-2 px-3 rounded">Our Apps</a>
					  </li>
					
					</ul>
				  </div>
				</div>
			</nav>
		</header>
		<div class="container pt-24 md:pt-36 mx-auto flex flex-wrap flex-col md:flex-row items-center">
			<!--Left Col-->
			<div class="flex flex-col w-full xl:w-2/5 justify-center lg:items-start overflow-y-hidden">
			  <h1 class="my-4 text-3xl md:text-5xl text-white opacity-75 font-bold leading-tight text-center md:text-left">
				Welcome to 
				<span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 via-pink-500 to-purple-500">
				Code Out Studio
				</span>
				<p class="leading-normal text-base md:text-2xl mb-8 text-center md:text-left mt-4 text-blue-400">
					Easy apps for an easier life
				</p> 
			  </h1>
			 
			  <form class="bg-gray-900 opacity-75 w-full shadow-lg rounded-lg px-8 pt-6 pb-8 mb-4">
				<div class="mb-4">
				  <label class="block text-blue-300 py-2 font-bold mb-2" for="emailaddress">
					Signup for our newsletter
				  </label>
				  <input class="shadow appearance-none border rounded w-full p-3 text-gray-700 leading-tight focus:ring transform transition hover:scale-105 duration-300 ease-in-out" id="emailaddress" type="text" placeholder="you@somewhere.com">
				</div>
	
				<div class="flex items-center justify-between pt-4">
				  <button class="bg-gradient-to-r from-purple-800 to-green-500 hover:from-pink-500 hover:to-green-500 text-white font-bold py-2 px-4 rounded focus:ring transform transition hover:scale-105 duration-300 ease-in-out" type="button">
					Sign Up
				  </button>
				</div>
			  </form>
			</div>
	
			<!--Right Col-->
			<div class="w-full xl:w-3/5 p-12 overflow-hidden">
			  <img class="mx-auto w-full md:w-4/5 transform -rotate-6 transition hover:scale-105 duration-700 ease-in-out hover:rotate-6" src="phone_qr.svg">
			</div>
	
			<div class="mx-auto md:pt-16">
			  <p class="text-blue-400 font-bold pb-8 lg:pb-6 text-center">
				Download our app:
			  </p>
			  <div class="flex w-full justify-center md:justify-start pb-24 lg:pb-0 fade-in">
				<img src="android_play_store.svg" class="h-12 transform hover:scale-125 duration-300 ease-in-out">
			  </div>
			</div>
			<!--Footer-->
			<div class="w-full pt-16 pb-6 text-sm text-center md:text-left fade-in">
			  <a class="text-gray-500 no-underline hover:no-underline" href="#">© Code Out Studio</a>
			  <a class="text-gray-500 no-underline hover:no-underline ml-2" href="/privacidad"> Privacity</a>
			  <span class="text-gray-500 no-underline hover:no-underline ml-2"> codeoutstudio@gmail.com</span>
			</div>

			
		  </div>
	</body>
</html>
