<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Política de Privacidad - Aplicación de Lectura de QR</title>
    </head>
    <body class="bg-[radial-gradient(ellipse_at_center,_var(--tw-gradient-stops))] from-violet-900 via-slate-900 to-slate-950 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl text-white">
        <div class="flex items-center justify-center h-screen mx-10">
            <div>
                <h1 class="flex text-4xl mx-auto justify-center">
                    Política de Privacidad para la Aplicación ("QR Reader Pro")
                </h1>
                
                <h2 class="text-2xl mt-8">1. Información General</h2>
                <p class="m-2">
                    Esta política de privacidad describe cómo recolectamos, usamos y
                    protegemos la información personal de los usuarios de la
                    aplicación de lectura de códigos QR ("QR Reader Pro"). Al
                    utilizar la App, el usuario acepta los términos descritos en
                    esta política.
                </p>
                
                <h2 class="text-2xl">2. Información que Recopilamos</h2>
                <ul class="m-2">
                    <li>
                        <strong>Datos Personales:</strong> La App no solicita ni recopila
                        información personal de los usuarios, como nombres, direcciones
                        de correo electrónico, o números de teléfono.
                    </li>
                    <li>
                        <strong>Información Técnica:</strong> Podríamos recopilar información
                        técnica relacionada con el dispositivo que utilizas, como el
                        modelo del dispositivo, el sistema operativo y la versión de
                        la App. Esta información se utiliza con fines estadísticos y
                        para mejorar el funcionamiento de la App.
                    </li>
                    <li>
                        <strong>Información del Código QR:</strong> La App accede a la
                        cámara del dispositivo para leer códigos QR. No almacenamos la
                        información de los códigos escaneados ni compartimos estos datos
                        con terceros. La información contenida en el código QR solo se
                        usa para mostrarla al usuario en el momento del escaneo.
                    </li>
                </ul>
                
                <h2 class="text-2xl">3. Permisos Requeridos</h2>
                <p class="m-2">
                    <strong>Acceso a la Cámara:</strong> Para funcionar, la App requiere
                    permiso para acceder a la cámara del dispositivo, ya que esto es
                    necesario para escanear los códigos QR. La cámara se utiliza únicamente
                    para este propósito.
                </p>
                
                <h2 class="text-2xl">4. Uso de la Información</h2>
                <p class="m-2">
                    La información recopilada se utiliza únicamente para el
                    funcionamiento adecuado de la App, incluyendo la visualización
                    de los contenidos del código QR escaneado. No se utiliza para
                    otros fines, como análisis, comercialización o compartir con
                    terceros.
                </p>
                
                <h2 class="text-2xl">5. Seguridad de la Información</h2>
                <p class="m-2">
                    Nos comprometemos a proteger la información de nuestros
                    usuarios. Utilizamos medidas de seguridad adecuadas para
                    garantizar la protección de la información recopilada,
                    incluyendo la encriptación y la limitación del acceso a los
                    datos.
                </p>
                
                <h2 class="text-2xl">6. Compartición de Datos</h2>
                <p class="m-2">
                    No compartimos ninguna información recopilada a través de la App
                    con terceros. La App tampoco almacena ningún dato personal o
                    información de los códigos QR escaneados en servidores externos.
                </p>
                
                <h2 class="text-2xl">7. Cambios a Esta Política de Privacidad</h2>
                <p class="m-2">
                    Podemos actualizar esta política de privacidad de vez en cuando.
                    Notificaremos a los usuarios de cualquier cambio mediante la
                    publicación de la nueva política en esta misma página. Se
                    recomienda revisar esta política de vez en cuando para
                    mantenerse informado sobre cómo protegemos su información.
                </p>
                
                <h2 class="text-2xl">8. Contacto</h2>
                <p class="m-2">
                    Si tienes alguna pregunta o inquietud sobre nuestra política de
                    privacidad o sobre el tratamiento de tus datos, puedes
                    contactarnos en:
                </p>
                <p class="m-2">
                    Correo electrónico: <a href="mailto:tu_email@example.com"
                    >codeoutstudio@gmail.com</a
                    >
                </p>
            </div>
        </div>
    </body>
</html>
